/* Generic classes */

.button {
    border-radius: 2em;
    color: white;
    background-color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    height: 50px;
    width: 100px;
}

.center {
    display: flex;
    justify-content: center;
}

.center-text{
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.chunk {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header {
    color:powderblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 150%;
    margin-bottom: 2em;
    text-indent: 2em;
}

/* Specific classes */

.background {
    background-color: black;
}

.background-image {
    background-image: url(assets/photos/Frame02523905.jpg);
    margin-top: -50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width:auto;
}

.social {
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px;
    z-index: 1;
}

.icon {
    background: none;
    border: none;
    height: 30px;
    width: 30px;
}

.logo {
    display: flex;
    width: 400px;
    z-index: 1;
}

.photo {
    margin-top: 000px;
}

.container {
    gap: 50px;
}

.tickets {
    font-size: 2em;
    height: 100px;
    width: 300px;
}

.contact {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 30%;
}

.message {
    width: 100%;
    height: 80px;
}

.box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.copyright {
    color: dimgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}