/* Generic classes */

.button {
    border-radius: 2em;
    color: white;
    background-color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    height: 50px;
    width: 100px;
}

.center {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.chunk {
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%, transparent);
    padding-bottom: 1em;
    padding-inline: 2em;
}

/* Text styles */

.text {
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.big{
    text-align: center;
}

.medium{
    font-size: 150%;
}

.header {
    color:powderblue;
    text-decoration: underline;
    text-underline-offset: 30%;
}

.subheader {
    color: powderblue;
}

.body {
    line-height: 150%;
    margin-bottom: 1em;
    margin-top: 1em;
    text-indent: 2em;
}

.subtle {
    color: dimgray;
    padding: 2em;
}

/* Specific classes */

.background {
    background-color: black;
    background-image: url(assets/photos/poster2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width:auto;
}

.container {
    gap: 1em;
    width: 800px;
}

.social-links {
    display: flex;
    align-items: end;
    justify-content: right;
    gap: 0.5em;
    padding-top: 0.5em;
}

.icon {
    background: none;
    border: none;
    height: 2em;
}

.logo {
    display: flex;
    margin-bottom: 3em;
    width: 400px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tickets {
    font-size: 2em;
    padding: 1em;
    height: auto;
    margin-bottom: 1em;
    width: auto;
}

@media (max-width: 830px) {
    .container {
        width: 98%;
    }

    .logo {
        width: 50%;
    }

    .background {
        background-attachment: unset;
    }
}