
body {
    background-color: black;
    background-image: url(../assets/images/background2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: auto;
}


.center {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%, transparent);
    padding-inline: 2em;
    padding-bottom: 1em;
    border-radius: 5px;
}
.shelf {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 65px;
}
.gap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}
.page {
    width: 800px;
}


.social-links {
    display: flex;
    align-items: end;
    justify-content: right;
    gap: 0.5em;
    padding-top: 0.5em;
}
.social-icon {
    background: none;
    border: none;
    height: 2em;
}
.logo-giff {
    display: flex;
    width: 400px;
}
.nav-bar {
    display: flex;
    padding-bottom: 4em;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.music-links {
    gap: 1em;
    padding-bottom: 1em;
}
.music-icon {
    height: 3em;
}


/* TEXT */
.big{
    text-align: center;
    font-size: xx-large;
}
.header {
    color: #b0e0e6;
    text-decoration: underline;
    text-underline-offset: 30%;
}
.p {
    line-height: 150%;
    text-indent: 2em;
}
.link{
    color: white;
}
.subtle {
    color: dimgray;
    padding: 2em;
}


/* BUTTONS */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    color: white;
    background-color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    height: 200%;
    width: 4em;
}
.active {
    background-color: white;
    color: cadetblue;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SPECIAL */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tickets {
    font-size: 2em;
    padding: 1em;
    height: auto;
    margin-bottom: 1em;
    width: auto;
}
.album-container {
    position: relative;
    padding: 0.3em;
    width: auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 2em;
}
.album-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.album-container a {
    text-decoration: none;
}


/* MOBILE */
@media (max-width: 830px) {
    .container {
        width: 98%;
    }
    .logo-giff {
        width: 50%;
    }
    body {
        background-attachment: unset;
    }
}
